[Unit]
Description=OrcaVPN client
After=syslog.target network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
WorkingDirectory=/
PIDFile=/run/orcavpnd.pid
Environment=PIDFILE=/run/orcavpnd.pid
Environment=LOGFILE=/var/log/orcavpn.log
Environment=CONFIGFILE=/usr/local/etc/orcavpn.conf
Environment=MODE=client

ExecStart=/usr/local/sbin/orcavpn -d -m $MODE -c $CONFIGFILE -p $PIDFILE -l $LOGFILE
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -s SIGHUP $MAINPID
TimeoutSec=10

[Install]
WantedBy=multi-user.target
